services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    env_file:
      - env
    depends_on:
      - db

  db:
    image: postgres:18
    restart: always 
    environment:
      - name=value